<a href="https://colab.research.google.com/github/PeaceSuccess/BankManagementData/blob/main/Assignment_2_Data_Nexus_Hub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **CLEANING AND PREPROCESSING**

In [1]:
from google.colab import drive
import pandas as pd

# Mount Google Drive
drive.mount('/content/drive')

# Path to the CSV file in your Google Drive
file_path = '/content/drive/My Drive/Data/bank_marketing.csv'

# Read the CSV file using pandas
bank_marketing_data = pd.read_csv(file_path)

Mounted at /content/drive

In [2]:
# Now you can work with the 'bank_marketing_data' DataFrame
print(bank_marketing_data.head())

   client_id  age        job  marital    education credit_default housing  \
0          0   56  housemaid  married     basic.4y             no      no
1          1   57   services  married  high.school        unknown      no
2          2   37   services  married  high.school             no     yes
3          3   40     admin.  married     basic.6y             no      no
4          4   56   services  married  high.school             no      no

  loan    contact month  ...  campaign  pdays  previous     poutcome  \
0   no  telephone   may  ...         1    999         0  nonexistent
1   no  telephone   may  ...         1    999         0  nonexistent
2   no  telephone   may  ...         1    999         0  nonexistent
3   no  telephone   may  ...         1    999         0  nonexistent
4  yes  telephone   may  ...         1    999         0  nonexistent

   emp_var_rate cons_price_idx  cons_conf_idx  euribor3m  nr_employed   y
0           1.1         93.994          -36.4      4.857       5191.0  no
1           1.1         93.994          -36.4      4.857       5191.0  no
2           1.1         93.994          -36.4      4.857       5191.0  no
3           1.1         93.994          -36.4      4.857       5191.0  no
4           1.1         93.994          -36.4      4.857       5191.0  no

[5 rows x 22 columns]

In [3]:
bank_marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   client_id       41188 non-null  int64
 1   age             41188 non-null  int64
 2   job             41188 non-null  object
 3   marital         41188 non-null  object
 4   education       41188 non-null  object
 5   credit_default  41188 non-null  object
 6   housing         41188 non-null  object
 7   loan            41188 non-null  object
 8   contact         41188 non-null  object
 9   month           41188 non-null  object
 10  day             41188 non-null  int64
 11  duration        41188 non-null  int64
 12  campaign        41188 non-null  int64
 13  pdays           41188 non-null  int64
 14  previous        41188 non-null  int64
 15  poutcome        41188 non-null  object
 16  emp_var_rate    41188 non-null  float64
 17  cons_price_idx  41188 non-null  float64
 18  cons_conf_idx   41188 non-null  float64
 19  euribor3m       41188 non-null  float64
 20  nr_employed     41188 non-null  float64
 21  y               41188 non-null  object
dtypes: float64(5), int64(7), object(10)
memory usage: 6.9+ MB

In [4]:
bank_marketing_data.describe()

,client_id,age,day,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
count,41188.00000,41188.00000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000,41188.000000
mean,20593.50000,40.02406,15.730334,258.285010,2.567593,962.475454,0.172963,0.081886,93.575664,-40.502600,3.621291,5167.035911
std,11890.09578,10.42125,8.889867,259.279249,2.770014,186.910907,0.494901,1.570960,0.578840,4.628198,1.734447,72.251528
min,0.00000,17.00000,1.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,10296.75000,32.00000,8.000000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,20593.50000,38.00000,16.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,30890.25000,47.00000,23.000000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,41187.00000,98.00000,31.000000,4918.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [5]:
missing_values = bank_marketing_data.isnull().sum()

print(missing_values)

client_id         0
age               0
job               0
marital           0
education         0
credit_default    0
housing           0
loan              0
contact           0
month             0
day               0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

**CREATING A NEW COLUMN FOR DATE AND YEAR**

In [6]:
#Dictionary mapping for months to numerical values
month_dict = {'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4, 'may': 5, 'jun': 6, 'jul': 7, 'aug': 8, 'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12}

#Converting month names to numerical representation
bank_marketing_data['month'] = bank_marketing_data['month'].str.lower().map(month_dict)


bank_marketing_data['date']=pd.to_datetime(bank_marketing_data[['day', 'month']].assign(year=2022))

# Extracting year from the combined date column and create a new column tagged 'year'
bank_marketing_data['year'] = bank_marketing_data['date'].dt.year

**CREATING A NEW COLUMN FOR CAMPAIGN ID**

In [7]:
# Generate sequential values for the new column with leading zeros making it a four digit number
bank_marketing_data['campaign_id'] = ['{:04d}'.format(i) for i in range(1, len(bank_marketing_data) + 1)]

print(bank_marketing_data.head())

   client_id  age        job  marital    education credit_default housing  \
0          0   56  housemaid  married     basic.4y             no      no
1          1   57   services  married  high.school        unknown      no
2          2   37   services  married  high.school             no     yes
3          3   40     admin.  married     basic.6y             no      no
4          4   56   services  married  high.school             no      no

  loan    contact  month  ...     poutcome  emp_var_rate  cons_price_idx  \
0   no  telephone      5  ...  nonexistent           1.1          93.994
1   no  telephone      5  ...  nonexistent           1.1          93.994
2   no  telephone      5  ...  nonexistent           1.1          93.994
3   no  telephone      5  ...  nonexistent           1.1          93.994
4  yes  telephone      5  ...  nonexistent           1.1          93.994

   cons_conf_idx  euribor3m nr_employed   y       date  year  campaign_id
0          -36.4      4.857      5191.0  no 2022-05-13  2022         0001
1          -36.4      4.857      5191.0  no 2022-05-19  2022         0002
2          -36.4      4.857      5191.0  no 2022-05-23  2022         0003
3          -36.4      4.857      5191.0  no 2022-05-27  2022         0004
4          -36.4      4.857      5191.0  no 2022-05-03  2022         0005

[5 rows x 25 columns]

In [9]:
# Client table
client_marketing_data = bank_marketing_data[['client_id', 'age', 'job', 'marital', 'education', 'credit_default', 'housing', 'loan']]
# Campaign table
campaign_marketing_data = bank_marketing_data[['campaign_id','client_id', 'duration', 'contact','pdays', 'previous', 'poutcome', 'y', 'date']]
# Economics table
economics_marketing_data = bank_marketing_data[['client_id','emp_var_rate', 'cons_price_idx', 'euribor3m', 'nr_employed']]

In [10]:
# Save each DataFrame as a separate CSV file
client_marketing_data.to_csv('client_data.csv', index=False)
campaign_marketing_data.to_csv('campaign_data.csv', index=False)
economics_marketing_data.to_csv('economics_data.csv', index=False)